<html>

	<head>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
		<script src="http://localhost:3000/js/webdictaat.js"></script>
        
        <title>Demo!</title>
        
        <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/webdictaat.css"></link>
        
        <style>
            body{
                background-color:#ddd;
            }
            </style>
	</head>
    <body ng-app="webdictaat">
        
        <wd-git-nav>
            <ul>
               <li ng-repeat="(name, week) in structure">
                   {{name}}
                   <ul>
                       <li ng-repeat="(title, subject) in week.content">
                           <a href="{{week.url + '/' + subject.url}}">{{title}}</a>
                       </li>
                   </ul>
               </li> 
            </ul>
        </wd-git-nav>
        
        <wd-git-content/>

    </body>
</html>